*
{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input
{
-webkit-user-select: auto !important;
-khtml-user-select: auto !important;
-moz-user-select: auto !important;
-ms-user-select: auto !important;
user-select: auto !important;
}

.ui-mobile
.ui-page-active{

	display:block;
	overflow:visible;
	overflow-x:hidden;

}
div[data-role="page"] {
    display:none;
    position: fixed;
	top: 0;
	left: 0;
    min-height: 204vw;
	background: url("../img/background.png");
    background-repeat:no-repeat;
    background-position: center top;
    background-size: 100% auto;  
	/* background-attachment: fixed; */
	z-index: 0;
}

.background {
	background: url("../img/background.png");
	position: fixed;
    top: 0%;
    left: 0%;
    min-width: 10%;
    width: 100%;
    z-index: -100000;
}

.app-btn {
	z-index: 2;
}

.swiper-container-tutorial {
	margin-top: 28%;
	display: none;
	width: 90%;
}
div#message-offline-zh {
	margin-top: 45%;
}
.crossImageTAC {
	position: absolute;
	width: 6vw;
	float: right;
	right: 0;
	margin-top: 1%;
	margin-right: 1%;
	z-index: 2;
	display: none;
}
div#main-content-TAC {
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
}
div#TAC_title {
	text-align: center;
	font-size: 20px;
}

img#app-btn-accept {
	/* margin-top: 5.2%; */
	margin-left: 23.875%;
	width: 52%;
	/* content: url('../img/accept.png'); */
}
div#text-guidehelp1 {
	/* margin-top: 28%; */
	margin-left: 5%;
}
div#text-guidehelp2 {
	margin-left: 5%;
}
img.tutorial {
	margin-left: 5%;
	width: 90%;
	margin-bottom: 10%;
}
img#tutorial1{
	content: url('../img/tutorial1.png');
}
img#tutorial2{
	content: url('../img/tutorial2.png');
}
img#tutorial3{
	content: url('../img/tutorial3.png');
}
.swiper-pagination-bullet {
	width: 25px;
	height: 5px;
	border: 1px solid #FFF;
	border-radius: 10px;
	color: #000000;
	opacity: 1;
	background: rgba(0, 0, 0, 1);
}
.swiper-pagination-bullet-active {
	background: rgba(1, 177, 175, 1);
}
img#app-btn-skiptutorial {
	margin-top: 125%;
	margin-left: 23.875%;
	width: 52%;
	/* content: url('../img/skiptutorial.png'); */
	z-index: 2;
}
#version {
	position: absolute;
	bottom: 0px;
	font-size: 60%;
	color: black;
}