@font-face {
	font-family: "KozGoPr6N-Light";
	src: url("../fonts/KozGoPr6N-Light.otf") format("opentype");
}
.locationlist {
	width: 80vw;
	padding: 10px;
	background: rgba(80, 211, 204, 1);
	border-radius: 20px;
}
#icon-location {
	width: auto;
	height: 1.2em;
}
#icon-phone {
	width: auto;
	height: 1.2em;
}
.areaTitle {
	text-shadow: initial;
}
.shopitem{
	font-size: 16px;
	font-family: "KozGoPr6N-Light";
	color: white;
	padding: 5px 0;
	border-top-width: 1px;
	border-top-color: rgba(0, 0, 0, 0.2);
	border-top-style: solid;
	text-shadow: initial;
}
.shop-text {
	text-align: center;
	font-family: "KozGoPr6N-Light";
}
#shopUrl {
	width: 90vw;
}
#googleMap {
	width: 90vw;
	height: 30vh;
}