/* Font setting */
@font-face {
	font-family: "KozGoPr6N-Light";
	src: url("../fonts/KozGoPr6N-Light.otf") format("opentype");
}
@font-face {
	font-family: "MHeiHK-Light";
	src: url("../fonts/NotoSansCJKsc-Light.otf") format("opentype");
}
@font-face {
	font-family: "DFGB-H5";
	src: url("../fonts/DFGB-H5.otf") format("opentype");
}

/**************************/
/* Override the original setting in jquery mobile */
.ui-content {
	padding: 0;
}
.list-selected {
	background-color: #ff0000;
}
.ui-listview > .ui-li-has-thumb > .ui-btn, .ui-listview > .ui-li-static.ui-li-has-thumb {
	min-height: 2em;
	padding-left: 4em;
	border-width: 1px 0 0;
	border-color: #00938F;
	border-style: solid;
}
.ui-btn.ui-btn-active {
	background-color: #FF0000;
}
.menu-items-img {
	padding: 3.5% 6%;
	width: 15%;
}
.menu-items {
	letter-spacing: 4px;
	font-size: 115%;
	color: #FFFFFF;
	position: absolute;
	padding-top: 2%;
}
/**************************/
.hide-in-old-version {
	display: none;
	visibility: invisible;
}

.header-layer {
	position: fixed;
	top: 0;
	background-color: #00938f;
	/* background: linear-gradient(to right, rgba(0, 147, 143, 0.6), rgba(45, 177, 175, 1));*/
	border-color: #ddd;

	border-width: 0px 0;
	border-style: solid;
	height: 50px;
	width: 100%;
	z-index: 100;
}
.main-content{
	margin-top: 50px;
}
.ui-mobile body {
	height: 0;
}
.ui-content {
    min-height: inherit;
	/* background: url("../img/background.png"); */
    background-repeat:no-repeat;
    background-position: center top;
    background-size: 100% auto;  
	padding: 0;
	overflow: invisible;
}
.main-content {
	padding: 5% 0 0 0;
}
.indicator-stupid {
	margin-top: 50%;
	position: absolute;
}
.main-content-locations {
	padding: 5% 0 0 5%;
}
.main-content-membership {
	padding: 5% 5% 0 5%;
}
.main-content-register {
	padding: 5% 5% 0 5%;
}

.app-text-middle {
	text-align: center;
}
#menubtn {
	height: 25px;
	position: absolute;
	padding-top: 13px;
	padding-left: 13px;
}
.header-title-img {
	padding-top: 1.2%;
	margin-left: 40px;
	height: 75%;
}
.header-title {
	letter-spacing: 4px;
	font-size: 135%;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	padding-top: 11px;
	padding-left: 1%;
    text-shadow: initial;
}
#optionbtn {
	height: 25px;
	position: absolute;
	padding-top: 13px;
	right: 13px;
}
/* Tutorial page setting */
#text-guidehelp1 {
	text-align: center;
}
#text-guidehelp2 {
	text-align: center;
}
/* Membership page setting */
#forgetpassword {
	position: absolute;
	right: 5%;
	text-align: right;
	text-decoration: underline;
}
a#submit {
	width: 300px;
}
#btn-login-img {
	width: 30%;
}
/* img.standardbutton {
	width: 30%;
}*/
#app-btn-login {
	position: absolute;
	width: 30%;
	left: 5%;
}
#app-btn-register {
	position: absolute;
	width: 30%;
	right: 5%;
}
input[type="checkbox"] {
	/* position: absolute; */
	/* height: 9%; */
	margin: 0;
}
span#autologin {
	position: relative;
	margin-left: 10%;
}
#newuser {
	float: right;
	margin-right: 10%;
}
#register {
	position: absolute;
	right: 5%;
}
.remark {
	font-size: 12px;
	letter-spacing: 2px;
}
#remarkRegister1 {
	margin-top: 27%;
}
#remarkRegister1-register {
	margin-top: 4%;
}

#btn-register {
	margin-left: 23.875%;
	width: 52%;
	/* content: url('../img/register.png'); */
}
#app-btn-register-large {
	margin-left: 23.875%;
	width: 52%;
	/* content: url('../img/register.png'); */
}
#btn-accept-tac {
	margin-left: 23.875%;
	width: 52%;
	/* content: url('../img/accept.png'); */
}
/**************************/
/* Promtion page setting */
.promotionitem {
	width: 100%;
	margin-bottom: 1%;
}

/**************************/

/**************************/
/* Redemption page setting */
.redemptionEvents {
	width: 100%;
	margin-bottom: 1%;
}

/**************************/

/**************************/
/* Membership information page setting */
#broadway_logo {
	content: url('../img/broadway_logoonly.png');
	width: 60%;
	display: block;
	margin: 0 auto;
}
#premiummember {
	margin-top: 3%;
	text-align: center;
	font-size: 2.5em;
	/* display: inline; */
	/* text-shadow: 2px 2px 8px #64fff7; */
}
#animation {
	width: 50px;
	height: auto;
	display: inline;
	margin-left: -50px;
	position: relative;
	margin-bottom: -3%;
}
#membername {
	text-align: center;
	font-size: 2.5em;
}
/*---------------*/
#pointTable {
	/* display: block; */
	margin: 0 auto;
	width: 80%;
	/* height: 30%; */
	border-collapse: collapse;
	text-shadow: initial;
}
#expiredate {
	border-radius: 20px 0 0 0;
	background: rgba(80, 211, 204, 0.3);
	border-right-style: dotted;
	border-right-width: 1px;
}
#availableBpBalance {
	border-radius: 0 20px 0 0;
	background: rgba(80, 211, 204, 0.3);
	border-left-style: dotted;
	border-left-width: 1px;
}
.column1 {
	border-right-style: dotted;
	border-right-width: 1px;
}
.tableinfo {
	font-size: 1em;
	background: rgba(80, 211, 204, 0.61);
	text-align: center;
	padding: 0;
}
.lastrow {
	font-family: 'KozGoPr6N-Light';
	background: rgba(24, 109, 103, 1);
	color: #FFF;
}
#balanceword {
	border-radius: 0 0 0 20px;
}
#totalbalance {
	border-radius: 0 0 20px 0;
}
#datetime {
	margin-top: 10px;
}
#barcodediv {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	background-color: white;
}
#memberId {
	text-align: center;
}
img#app-btn-membershippresent {
	position: relative;
	top: 0;
	/* margin-top: 125%; */
	margin-left: 23.875%;
	width: 52%;
	z-index: 2;
}
/*---------------*/
#datetime {
	text-align: center;
}
#barcode {
	display: block;
	margin: 0 auto;
}

/**************************/
/* Location information page setting */
.arrow {
	color: transparent;
	z-index: 100;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-top: 10px solid rgba(45, 177, 175, 1);
	line-height: 2;
	display: block;
	position: absolute;
	left: 5.7%;
	top: 15.5%;
}
.btn-location {
	padding: 1px 5px;
}
.area-text {
	font-size: 16px;
}
#locationframe {
	/* border-radius: 20px; */
	/* border-style: solid; */
	
	width: 90%;
}
/**************************/
/**************************/
/* Redemption point setting */
.swiper-wrapper-point {
	/* z-index: -100; */
}
.swiper-slide-point {
	margin-right: 50px;
    padding-left: 10px;
    padding-right: 10px;
	width: 60px;
	background-color: rgba(45, 177, 175, 0.6);
	text-align: center;
	color: black !important;
	font-size: 1.1em;
}
a#app-btn-membershipinfo {
}
img#app-btn-membershipinfo {
	position: relative;
	top: 50px;
	/* margin-top: 125%; */
	margin-left: 23.875%;
    /*padding-bottom: 5%;*/
	height: auto;
	width: 56%;
	z-index: 2;
}
.redemptionitem {
	width: 100%;
	margin-bottom: 1%;
}
.swiper-container-point {
	padding: 0 5% 0 5%;
}
/**************************/
/**************************/
/* Product categories setting */
.main-content-product-list {
	padding-left: 5%;
}