@font-face {
	font-family: "KozGoPr6N-Light";
	src: url("../fonts/KozGoPr6N-Light.otf") format("opentype");
}
.header-layer {
	/* background-color: #00938f; */
	background: linear-gradient(to right, rgba(0, 147, 143, 0.6), rgba(45, 177, 175, 1));
	border-color: #ddd;

	border-width: 0px 0;
	border-style: solid;
	height: 10%;
}
.ui-content {
    min-height: 100%;
	background: url("../img/background.png");
    background-repeat:no-repeat;
    background-position: center top;
    background-size: 100% auto;  
	padding: 0;
	overflow: invisible;
}
.main-content {
	padding: 5% 5% 0 5%;
}
.app-text {
	font-family: "KozGoPr6N-Light";
	font-size: 1.2em;
}
#menubtn {
	height: 5%;
	position: absolute;
	padding-top: 13px;
	padding-left: 13px;
}
.header-title-img {
	padding-top: 1.2%;
	margin-left: 40px;
	height: 75%;
}
.header-title {
	letter-spacing: 4px;
	font-size: 6%;
	text-align: center;
	font-family: 'KozGoPr6N-Light';
	color: #FFFFFF;
	position: absolute;
	padding-top: 2.5%;
	padding-left: 1%;
}
#optionbtn {
	height: 5%;
	position: absolute;
	padding-top: 13px;
	right: 13px;
}
/* Membership page setting */
#forgetpassword {
	text-align: right;
	text-decoration: underline;
}
input[type="checkbox"] {
	position: absolute;
	height: 9%;
	/* margin: 0; */
}
#btn-login-img {
	width: 30%;
}
img.standardbutton {
	content: url("../img/standardbutton.png");
}
#autologin {
	position: relative;
	margin-left: 9%;
	top: -1%;
}
#newuser {
	display: block;
	text-align: right;
	margin-top: -4%;
	margin-right: 9%;
}
#register {
	position: absolute;
	right: 5%;
}
.remark {
	font-size: 14px;
	letter-spacing: 4px;
}

#btn-register {
	margin-left: 23.875%;
	width: 52%;
	content: url('../img/register.png');
}
#btn-accept-tac {
	margin-left: 23.875%;
	width: 52%;
	content: url('../img/accept.png');
}
/**************************/
/* Promtion page setting */
.promotionitem {
	width: 90%;
	margin-bottom: 1%;
}

/**************************/

/**************************/
/* Membership information page setting */
#broadway_logo {
	content: url('../img/broadway_logo.png');
	width: 60%;
	display: block;
	margin: 0 auto;
}
#premiummember {
	text-align: center;
	font-size: 2.5em;

	text-shadow: 2px 2px 8px #64fff7;
}
#membername {
	text-align: center;
	font-size: 2.5em;
}
/*---------------*/
#pointTable {
	/* display: block; */
	margin: 0 auto;
	width: 80%;
	/* height: 30%; */
	border-collapse: collapse;
}
#expiredate {
	border-radius: 20px 0 0 0;
	background: rgba(80, 211, 204, 0.3);
	border-right-style: dotted;
	border-right-width: 1px;
}
#availableBpBalance {
	border-radius: 0 20px 0 0;
	background: rgba(80, 211, 204, 0.3);
	border-left-style: dotted;
	border-left-width: 1px;
}
.column1 {
	border-right-style: dotted;
	border-right-width: 1px;
}
.tableinfo {
	background: rgba(80, 211, 204, 0.61);
	text-align: center;
	padding: 0;
}
.lastrow {
	background: rgba(80, 211, 204, 1);
}
#date4 {
	border-radius: 0 0 0 20px;
}
#pt4 {
	border-radius: 0 0 20px 0;
}
/*---------------*/
#datetime {
	text-align: center;
}
#barcode {
	display: block;
	margin: 0 auto;
}

/**************************/
/* Override the original setting in jquery mobile */
.list-selected {
	background-color: #ff0000;
}
.ui-listview > .ui-li-has-thumb > .ui-btn, .ui-listview > .ui-li-static.ui-li-has-thumb {
	min-height: 2em;
	padding-left: 4em;
	border-width: 1px 0 0;
	border-color: #00938F;
	border-style: solid;
}

.ui-listview > li.ui-first-child, .ui-listview > li.ui-first-child > a.ui-btn {
	margin-top: 4%;
}
.ui-btn.ui-btn-active {
	background-color: #FF0000;
}
.menu-items-img {
	padding: 2% 2%;
	width: 15%;
}
.menu-items {
	letter-spacing: 4px;
	font-size: 5%;
	font-family: 'KozGoPr6N-Light';
	color: #FFFFFF;
	position: absolute;
	padding-top: 1%;
}