.app-text {
    font-family: "KozGoPr6N-Light", "MHeiHK-Light", "DFGB-H5";
    font-size: 1.2em;
    text-shadow: initial;
}
.header-title {
    font-family: "KozGoPr6N-Light", "MHeiHK-Light", "DFGB-H5";
}
.menu-items {
    font-family: "KozGoPr6N-Light", "MHeiHK-Light", "DFGB-H5";
}